<% if (theme.sidebar === 'bottom'){ %>
  <%- partial('_partial/sidebar') %>
<% } %>

<!-- <% if (config.disqus_shortname){ %>
  <script>
    var disqus_shortname = '<%= config.disqus_shortname %>';
    <% if (page.permalink){ %>
    var disqus_url = '<%= page.permalink %>';
    <% } %>
    (function(){
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//go.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<% } %> -->

<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a id="nav-linkedin-btn" class="nav-icon" href=https://www.linkedin.com/in/xianpeng-shen/ target="_blank" title="<%= __('LinkedIn') %>"></a>
        <a id="nav-github-btn" class="nav-icon" href=https://github.com/shenxianpeng target="_blank" title="<%= __('GitHub') %>"></a>
      </nav>
      All opinions are my own.<br>
      Copyright &copy; 2017 - <%= date(new Date(), 'YYYY') %> <%= "Xianpeng Shen" %>. All rights reserved.<br>
      Made with ❤️ in China & Lithuania.
    </div>
  </div>
</footer>

<div id="disqus_thread"></div>
